.addBtn {
    background-color: transparent;
    border: 1px dashed var(--text-muted);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9rem;
    color: var(--text-muted);
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding-left: 0;
    font-family: inherit;
    transition: background-color 0.2s ease;
}

.addBtn:hover {
    color: var(--text-main);
    border-color: var(--text-main);
}